@use "global"as *;

.inner {
  margin-inline: auto;
  padding-inline: var(--padding-pc);
  max-width: var(--max-width);
  width: 100%;

  @media (max-width: 767px) {
    max-width: var(--max-width);
    padding-inline: var(--padding-sp);
  }
}

.inner-overflow {
  width: 100%;
  overflow: hidden;

  @media (min-width: 768px) {
    min-width: 1100px;
  }
}


.text-blue {
  color: var(--main-color);
}