@use "global" as *;

.gas-water-heater-repair-links {
  background: #FEF7E1;
  padding-block: 20px;

  @media (max-width: 767px) {
    padding-block: 20px;
  }
}

.gas-water-heater-repair-links__btn-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.gas-water-heater-repair-links__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 5px 11.53px;
  width: 500px;
  height: 90px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: transform var(--duration-base) ease, box-shadow var(--duration-base) ease;
  @media (max-width: 767px) {
    width: 100%;
    max-width: 500px;
    height: 55px;
  }
  @media (any-hover: hover) {
    &:hover {
      box-shadow: none;
      transform: translateY(2px);
    }
  }
}

.gas-water-heater-repair-links__btn--diagnosis {
  background-color: #F57708;
}

.gas-water-heater-repair-links__btn--search {
  background-color: #0AF;
}

.gas-water-heater-repair-links__icon {
  font-family: "Material Symbols Rounded", sans-serif;
  font-variation-settings: "FILL" 1;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  color: #FFFFFF;
  @media (max-width: 767px) {
    font-size: 27px;
  }
}

.gas-water-heater-repair-links__search-icon {
  display: block;
  color: #FFF;
font-family: "Material Symbols Rounded";
font-size: 36px;
font-weight: 500;
  flex-shrink: 0;
}

.gas-water-heater-repair-links__text {
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-bold);
  font-size: 22px;
  line-height: 0.908;
  color: #FFFFFF;
  text-align: center;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}