@use "global" as *;

.gas-water-heater-repair-search {
  background: linear-gradient(180deg, rgba(241, 249, 255, 0.00) 0%, rgba(241, 249, 255, 0.54) 71.63%);
  padding-block: 60px;
}

.gas-water-heater-repair-search__banner {
  display: block;
  transition: opacity var(--duration-base) ease;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.gas-water-heater-repair-search__banner-img {
  height: auto;
  object-fit: contain;
}

.gas-water-heater-repair-search__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
  }
  
  .gas-water-heater-repair-search__nav-item {
  height: 100%;
  }
  
  .gas-water-heater-repair-search__nav-link {
    border-radius: 10px;
    border: 4px solid var(--main-color);
    background: #FFF;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.20);
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 16px 15px 11px 15px;
    min-height: 133px;
    transition: transform var(--duration-base) ease, box-shadow var(--duration-base) ease;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: none;
        transform: translateY(2px);
      }
    }
  }
  
  .gas-water-heater-repair-search__nav-icon-wrap {
  width: 64px;
  margin-top: auto;
  }
  
  .gas-water-heater-repair-search__img {
  height: auto;
  object-fit: contain;
  }
  
  .gas-water-heater-repair-search__nav-item--03  .gas-water-heater-repair-search__nav-icon-wrap{
    margin-bottom: 1px;
  }
  
  .gas-water-heater-repair-search__nav-text {
    color: #222;
    font-family: var(--font-family-base);
    font-size: 21px;
    font-weight: var(--font-weight-bold);
  }
  
.gas-water-heater-repair-search__anchor-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
margin-top: 30px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}


.gas-water-heater-repair-search__anchor-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 49px;
  background-color: #FEF7E1;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.448;
  color: var(--main-color);
  position: relative;
  padding-inline: 20px;
  transition: transform var(--duration-base) ease, box-shadow var(--duration-base) ease;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: none;
      transform: translateY(2px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 46%;
    right: 0.9em;
    width: 10px;
    height: 10px;
    border: solid var(--main-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: translateY(-50%) rotate(45deg);
  }
}
