@use "global"as *;

.gas-water-heater-repair-replace-compare {
  background-color: var(--white);
  padding-block: 60px;
}

.gas-water-heater-repair-replace-compare__table-wrap {
  margin-top: 30px;

  @media (max-width: 767px) {
    overflow: auto;
    padding-bottom: 20px;
    margin-inline: calc(-50vw + 50%);
    margin-top: 50px;
  }
}

.gas-water-heater-repair-replace-compare__table {
  width: calc(1000px + 3ch);
  border-spacing: 1.5ch 0;
  border-collapse: unset;

  & :is(td, th) {
    border-inline-width: 1px;
  }

  @media (max-width: 767px) {
    width: 950px;
  }
  @include mq('md') {
    margin-left: -1.5ch;
  margin-right: -1.5ch;
  }
}

.gas-water-heater-repair-replace-compare__table td,
.gas-water-heater-repair-replace-compare__table th {
  vertical-align: middle;
}

.gas-water-heater-repair-replace-compare__header.gas-water-heater-repair-replace-compare__header--repair {
  padding-right: 40px;
}

.gas-water-heater-repair-replace-compare__header.gas-water-heater-repair-replace-compare__header--replace {
  background-color: #5FA978;
  border-color: #5FA978;
}

.gas-water-heater-repair-replace-compare__header {
  height: 60px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color-light);
  padding: 10px 22px;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.011em;
  color: var(--white);
  text-align: center;
  border-radius: 16px 16px 0 0;
}

.gas-water-heater-repair-replace-compare__header-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.gas-water-heater-repair-replace-compare__header--repair .gas-water-heater-repair-replace-compare__header-icon {
  width: 23px;
}

.gas-water-heater-repair-replace-compare__header--replace .gas-water-heater-repair-replace-compare__header-icon {
  width: 19px;
}

.gas-water-heater-repair-replace-compare__header-icon {
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.gas-water-heater-repair-replace-compare__label {
  width: 214px;
  height: 60px;
  background-color: var(--bg-light-blue);
  border-bottom: 1px solid var(--main-color-light);
  padding: 15px 22px;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.011em;
  color: var(--black);
  text-align: center;

  @media (max-width: 767px) {
    width: auto;
    min-width: 160px;
    padding: 10px 15px;
  }
}

.gas-water-heater-repair-replace-compare__label,
.gas-water-heater-repair-replace-compare__header-empty {
  border-inline: 0;
}

.gas-water-heater-repair-replace-compare__row:nth-child(2) .gas-water-heater-repair-replace-compare__label {
  border-top: 1px solid var(--main-color-light);
}

.gas-water-heater-repair-replace-compare__cell {
  position: relative;
  width: 375px;
  height: 60px;
  background-color: var(--white);
  border-bottom: 1px solid var(--main-color-light);
  border-right: 1px solid var(--main-color-light);
  padding: 10px 22px;
  border-left: 1px solid var(--main-color-light);
  vertical-align: middle;
}

.gas-water-heater-repair-replace-compare__cell-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.gas-water-heater-repair-replace-compare__cell-icon {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.gas-water-heater-repair-replace-compare__cell-icon--repair-01 {
  width: 32.427px;
  height: 31.495px;
  aspect-ratio: 32.43 / 31.50;
  left: 36.091px;
}

.gas-water-heater-repair-replace-compare__cell-icon--repair-02 {
  width: 62.966px;
  height: 42.633px;
  aspect-ratio: 62.97 / 42.63;
  left: 21.775px;
}

.gas-water-heater-repair-replace-compare__cell-icon--repair-03 {
  width: 50.303px;
  height: 34.059px;
  aspect-ratio: 50.30 / 34.06;
  left: 24.162px;
}

.gas-water-heater-repair-replace-compare__cell-icon--repair-04 {
  width: 34.081px;
  height: 32.536px;
  aspect-ratio: 34.08 / 32.54;
  left: 30.309px;
}

.gas-water-heater-repair-replace-compare__cell-icon--repair-05 {
  width: 50.303px;
  height: 34.059px;
  aspect-ratio: 50.30 / 34.06;
  left: 24.162px;
}

.gas-water-heater-repair-replace-compare__cell-icon--repair-06 {
  width: 50.303px;
  height: 34.059px;
  aspect-ratio: 50.30 / 34.06;
  left: 24.162px;
}

.gas-water-heater-repair-replace-compare__cell-icon--replace-01 {
  width: 45.076px;
  height: 43.781px;
  aspect-ratio: 45.08 / 43.78;
  left: 34.091px;
}

.gas-water-heater-repair-replace-compare__cell-icon--replace-02 {
  width: 72.475px;
  height: 42.633px;
  left: 21.775px;
}

.gas-water-heater-repair-replace-compare__cell-icon--replace-03 {
  width: 51.089px;
  height: 37.823px;
  aspect-ratio: 51.09 / 37.82;
  left: 32.849px;
}

.gas-water-heater-repair-replace-compare__cell-icon--replace-04 {
  width: 51.089px;
  height: 37.823px;
  aspect-ratio: 51.09 / 37.82;
  left: 32.849px;
}

.gas-water-heater-repair-replace-compare__cell-icon--replace-05 {
  width: 45.076px;
  height: 43.781px;
  aspect-ratio: 45.08 / 43.78;
  left: 34.447px;
}

.gas-water-heater-repair-replace-compare__cell-icon--replace-06 {
  width: 45.076px;
  height: 43.781px;
  aspect-ratio: 45.08 / 43.78;
  left: 34.447px;
}

@media (max-width: 767px) {
  .gas-water-heater-repair-replace-compare__cell-icon--repair-01 {
    left: 26.091px;
  }

  .gas-water-heater-repair-replace-compare__cell-icon--repair-02 {
    left: 11.775px;
  }

  .gas-water-heater-repair-replace-compare__cell-icon--repair-03 {
    left: 14.162px;
  }

  .gas-water-heater-repair-replace-compare__cell-icon--repair-04 {
    left: 20.309px;
  }

  .gas-water-heater-repair-replace-compare__cell-icon--repair-05 {
    left: 14.162px;
  }

  .gas-water-heater-repair-replace-compare__cell-icon--repair-06 {
    left: 14.162px;
  }

  .gas-water-heater-repair-replace-compare__cell-icon--replace-01 {
    left: 24.091px;
  }

  .gas-water-heater-repair-replace-compare__cell-icon--replace-02 {
    left: 11.775px;
  }

  .gas-water-heater-repair-replace-compare__cell-icon--replace-03 {
    left: 22.849px;
  }

  .gas-water-heater-repair-replace-compare__cell-icon--replace-04 {
    left: 22.849px;
  }

  .gas-water-heater-repair-replace-compare__cell-icon--replace-05 {
    left: 24.447px;
  }

  .gas-water-heater-repair-replace-compare__cell-icon--replace-06 {
    left: 24.447px;
  }
}

.gas-water-heater-repair-replace-compare__cell-text {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.011em;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100%;
}

.gas-water-heater-repair-replace-compare__row:nth-child(2n) td:nth-child(2) {
  background-color: #F1F9FF;
}

.gas-water-heater-repair-replace-compare__row:nth-child(2n) td:nth-child(3) {
  background-color: #F1FFF5;
}

.gas-water-heater-repair-replace-compare__table th.gas-water-heater-repair-replace-compare__header--replace,
.gas-water-heater-repair-replace-compare__table td:nth-child(3) {
  border-left: 1px solid #5FA978;
  border-right: 1px solid #5FA978;
  border-bottom: 1px solid #5FA978;
}

.gas-water-heater-repair-replace-compare__link {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  @include mq('md') {
    margin-top: 50px;
  }
}

.gas-water-heater-repair-replace-compare__banner-btn {
  display: block;
}

.gas-water-heater-repair-replace-compare__banner-img {
  height: auto;
  object-fit: contain;
  width: 100%;
}